*,
*:after,
*:before
 {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}



hr {
  display: block;
  height: 100%;
  height: 1px;
  margin: 40px 20px;
  border: 0;
  background-color: #e5e5e5;
}





/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}





/* Header */
.header {
  width: 100%;
  position: absolute;

  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000
}


.header__inner {
  /* Выравнивание всего контейнера */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}


.header__nav {
  font-size: 14px;
  text-transform: uppercase;
}


.header__nav__link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;

  transition: color .2s linear; /*плавноя смена цвета*/
}


.header__nav__link:after{
  opacity: 0;
  content:"";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}
.header__nav__link:hover:after,
.header__nav__link.active:after {
  opacity: 1;
}


.header__nav__link.active {
  color: #fce38a;
}

.header__nav__link:hover {
  color: #fce38a;
}




/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("../images/IntroBackground.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1;
}


.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto; /* выровняли по центру отступами в блоке*/
  text-align: center; /* выровняли по центру в блоке*/
}


.intro__suptitle {
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
}


.intro__title {
  font-size: 150px;
  text-transform: uppercase;
  color: #fff;
}


.intro__title:after {
  content:"";
  display: block;
  width: 60px;
  height: 3px;

  background-color: #fff;
  margin: 60px auto 60px;
}


.btn {
  display: inline-block;
  vertical-align: center;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration: none; /* Отключили подчеркивание */

  border: 3px solid #fff;
  color:  #fff;

  transition: background, color .2s linear;
}

.btn:hover {
  background: #fff;
  color:  #333;
}




/* Slider */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}


.slider_inner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


.slider__item {
  width: 22%;
  padding: 20px 0;
  position: relative; /*для псевдоэлемента, чтоб выравнивать относительно этого*/

  border-top: 3px #fff solid;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.7;
}


.slider__item.active {
  opacity: 1;
}


.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}


.slider__num {
  font-size: 24px;
  font-weight: 700;
}




/* Section */
.section {
  padding: 80px 0;
}



.section--devices {
  background: url(../images/devices-bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 60px;
}


.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 60px;

  text-align: center;
}



.section__suptitle{
  font-family: 'Kaushan Script', cursive;
}



.section__title {
  font-size: 30px;
  font-weight: bold;
}



.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;

  background-color: #f38181;
}



.section__text {
  color: #999999;
  font-size: 15px;
}



/* About */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}



.about__item {
  position: relative;
  width: 380px;

  background-color: #95e1d3;
}



.about__item:hover .about__image {
  transform: translate3d(-10px, -10px, 0);
}



.about__item:hover .about__text {
  opacity: 1;
}



.about__item:hover .about__image img {
  opacity: .1;
}



.about__image {
  background: linear-gradient(to bottom, #fce38a, #f38181);

  transition: transform .2s linear;
}



.about__image img {
  display: block;
  transition: opacity .1s linear;
}



.about__text {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity .2s linear;
}



.statistics {
  background-color: #95e1d3;
}



.stat {
  display: flex;
}



.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #fff;
  text-align: center;
  color: #fff;
}



.stat__item:last-child {
  border-right: 1px solid #fff;
}



.stat__value {
  line-height: normal;
  font-size: 72px;
  font-weight: bold;
}



.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}



/*Servises*/
.services {
  display: flex;
}



.services__item {
  flex: 1 1 0;

  padding-left: 85px;
  padding-right: 32px;
  position: relative;
}



.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}



.services__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
}



.services__text {
  font-size: 15px;
  color: #999999;
  font-family: 'Roboto', sans-serif;
}



.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}



.devices__item {
  display: block;
}



.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right:0;
  z-index: 2;
}
