*,
*:after,
*:before
 {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  /*сбос 5%-х отступов в заголовках*/
  margin: 0;
}


body {
  /*Общее*/
  margin: 0;
  /* Шрифт */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}


/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Header */
.header {
  width: 100%;
  position: absolute;

  padding-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000
}


.header__inner {
  /* Выравнивание всего контейнера */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}


.header__nav {
  font-size: 14px;
  text-transform: uppercase;
}


.header__nav__link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;

  transition: color .2s linear; /*плавноя смена цвета*/
}


.header__nav__link:after{
  opacity: 0;
  content:"";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .2s linear;
}
.header__nav__link:hover:after{
  opacity: 1;
}


.header__nav__link:hover {
  color: #fce38a;
}


/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("../images/IntroBackground.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1;
}


.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto; /* выровняли по центру отступами в блоке*/
  text-align: center; /* выровняли по центру в блоке*/
}


.intro__suptitle {
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  color: #fff;
}


.intro__title {
  font-size: 150px;
  text-transform: uppercase;
  color: #fff;
}


.intro__title:after {
  content:"";
  display: block;
  width: 60px;
  height: 3px;

  background-color: #fff;
  margin: 60px auto 60px;
}


.btn {
  display: inline-block;
  vertical-align: center;
  padding: 8px 30px;
  text-transform: uppercase;
  text-decoration: none; /* Отключили подчеркивание */

  border: 3px solid #fff;
  color:  #fff;

  transition: background, color .2s linear;
}

.btn:hover {
  background: #fff;
  color:  #333;
}


.intro__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


.slider__item {
  width: 22%;
  padding: 20px 0;
  position: relative; /*для псевдоэлемента, чтоб выравнивать относительно этого*/

  border-top: 3px #fff solid;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;

}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}
